circle {
    fill: #4285F4; /* Replace with your desired color */
  }
  
  text {
    fill: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  .circle-logo {
    background-color: #fff;
    position: absolute;
    margin-top: -17.25%;
    border-radius: 50%;
    padding: 20px;
    margin-left: 9.4%;
  }