.carousel-container {
  width: 100%;
}

.carousel-slide a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem; /* Adjusted for better spacing on mobile */
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-decoration: none;
}

.carousel-slide h4 {
  width: 90%; /* Adjusted to fit mobile screens */
  color: #000; 
  text-align: center; /* Centered for mobile */
  margin: 0.5rem 0; /* Adjusted for better spacing */
}

.carousel-slide img {
  width: 90%; /* Adjusted to fit mobile screens */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 20px;
}

.carousel-slide {
  padding-top: 1rem; /* Adjusted for better spacing on mobile */
}

.active-slide img {
  width: 100%; /* Adjusted to fit mobile screens */
  height: auto; /* Maintain aspect ratio */
}

.slick-slider {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.slick-list {
  overflow: visible;
}

@media (max-width: 768px) {
  .carousel-slide a {
    margin: 0.5rem; /* Adjusted spacing for smaller screens */
    padding: 0.5rem; /* Adjusted padding for smaller screens */
  }

  .carousel-slide h4 {
    font-size: 1rem; /* Smaller font size for mobile */
  }

  .carousel-slide img {
    width: 100%; /* Full width for mobile */
  }
}