.carousel-container {
}

.carousel-slide a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-decoration: none;
}

.carousel-slide h4 {
  width: 50%;
 color: #000; 
 text-align: left;
 margin-left: 2rem;
}

.carousel-slide h2:hover {
  color: #808080;
}


.carousel-slide img {
  width: 20vw;
  height: 10vh;
  object-fit: cover;
  border-radius: 20px;
}

.carousel-slide {
  padding-top: 2rem;
}

.active-slide a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-decoration: none;
}

.active-slide  h4 {
  width: 50%;
 color: #000; 
 text-align: left;
 margin-left: 2rem;
}

.active-slide h2:hover {
  color: #808080;
}


.active-slide img {
  width: 30vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 20px;
}

.slick-dots {
  bottom: 20px; 
}

.slick-dots li button:before {
  font-size: 10px; 
  color: #297EEB; 
}

.slick-dots li.slick-active button:before {
  color: #FFA500; 
}

.slick-slider {
  margin: 0 auto;
  width: 80%; 
  overflow: hidden;
}

.slick-list {
  overflow: visible; 
}