nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  width: 100%; 
  right: 5px;
  z-index: 1000;
  background-color:  rgba(131, 131, 131, 0.5);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; 
}

.right {
  display: flex;
}

.right a {
  color: #F79F2D;
  font-size: x-large;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  -webkit-text-stroke: 0.1px #774100
}

.right a:hover {
  font-weight: 700;
  color: #0f73ff;
}

.menu-icon {
  display: none; 
  font-size: 40px;
}

@media (max-width: 768px) {
  .right {
    display: none; 
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .popup-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    z-index: 1000;
  }

  .popup-menu-content {
    background: white;
    padding: 20px;
    padding: 10px 3rem 10px 3rem;
    border-radius: 5px;
    text-align: center;
  }

  .popup-menu-content a {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-top: 1rem;
  }

  .popup-menu-content a:hover {
    font-weight: 700;
  }
}